
@use "../scss/base" as *;
@use "../scss/layout" as *;
@use "../scss/breadcrumb" as *;
@use "../scss/signin" as *;
@use "../scss/card" as *;


@tailwind base;
@tailwind components;
@tailwind utilities;