

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h1,h2,h3,h4,h5,h6,p,input,button,div,span{
  font-family: "Open Sans", sans-serif;
}
textarea{
  font-family: "Open Sans", sans-serif;
}