/*===============Font================*/
@font-face {
  font-family: "Lufga";
  src: url("/fonts/LufgaThin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("/fonts/LufgaLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("/fonts/LufgaRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("/fonts/LufgaMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("/fonts/LufgaSemibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("/fonts/LufgaBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("/fonts/LufgaExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


/*===============Global================*/
html, body {
  font-family: "Lufga", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6,p,input,button,div,span,textarea {
  font-family: "Lufga", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

input:-webkit-autofill {
  transition: background-color 9999s ease-in-out 0s;
}

input:-moz-autofill {
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 9999s ease-in-out 0s;
}


/*===============Global Loader================*/
@keyframes wave {
  0%, 100% {
    transform: scaleY(0.4);
    opacity: 0.4;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.animate-wave {
  animation: wave 1s ease-in-out infinite;
}
