

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Urbanist", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}
h1,h2,h3,h4,h5,h6,p,input,button,div,span{
  font-family: "Urbanist", sans-serif !important;
}
textarea{
  font-family: "Urbanist", sans-serif !important;
}