
/*===============Font================*/
@font-face {
  font-family:Alliance;
  src:url("/fonts/alliance-light.woff2") format("woff2"),
  url("/fonts/alliance-light.woff") format("woff");
  font-weight:300;
  ascent-override:90%;
}

@font-face {
  font-family:Alliance;
  src:url("/fonts/alliance-regular.woff2") format("woff2"),
  url("/fonts/alliance-regular.woff") format("woff");
  font-weight:400;
  ascent-override:90%;
}

@font-face {
  font-family:Alliance;
  src:url("/fonts/alliance-medium.woff2") format("woff2"),
  url("/fonts/alliance-medium.woff") format("woff");
  font-weight:500;
  ascent-override:90%;
}

@font-face {
  font-family:Alliance;
  src:url("/fonts/alliance-semibold.woff2") format("woff2"),
  url("/fonts/alliance-semibold.woff") format("woff");
  font-weight:600;
  ascent-override:90%;
}

@font-face {
  font-family:Alliance;
  src:url("/fonts/alliance-bold.woff2") format("woff2"),
  url("/fonts/alliance-bold.woff") format("woff");
  font-weight:700;
  ascent-override:90%;
}

@font-face {
  font-family:Alliance;
  src:url("/fonts/alliance-extrabold.woff2") format("woff2"),
  url("/fonts/alliance-extrabold.woff") format("woff");
  font-weight:800;
  ascent-override:90%;
}

@font-face {
  font-family:Alliance;
  src:url("/fonts/alliance-black.woff2") format("woff2"),
  url("/fonts/alliance-black.woff") format("woff");
  font-weight:900;
  ascent-override:90%;
}


/*===============Global================*/
html, body {
  font-family:Alliance,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  @apply m-0 p-0 scroll-smooth tracking-[-.15px];
}

h1,h2,h3,h4,h5,h6,p,input,button,div,span,textarea {
  font-family:Alliance,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  @apply m-0 scroll-smooth tracking-[-.15px];
}

input:-webkit-autofill {
  transition: background-color 9999s ease-in-out 0s;
}

input:-moz-autofill {
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 9999s ease-in-out 0s;
}


/*===============Global Loader================*/
@keyframes wave {
  0%, 100% {
    transform: scaleY(0.4);
    opacity: 0.4;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.animate-wave {
  animation: wave 1s ease-in-out infinite;
}
