
/*===============Font================*/
// @font-face {
//   font-family:'Lufga';
//   src:url("/fonts/Lufga-100.ttf") format("truetype");
//   font-weight:100;
// }
// @font-face {
//   font-family:'Lufga';
//   src:url("/fonts/Lufga-200.ttf") format("truetype");
//   font-weight:200;
// }
// @font-face {
//   font-family:'Lufga';
//   src:url("/fonts/Lufga-300.ttf") format("truetype");
//   font-weight:300;
// }
// @font-face {
//   font-family:'Lufga';
//   src:url("/fonts/Lufga-400.ttf") format("truetype");
//   font-weight:400;
// }
// @font-face {
//   font-family:'Lufga';
//   src:url("/fonts/Lufga-500.ttf") format("truetype");
//   font-weight:500;
// }
// @font-face {
//   font-family:'Lufga';
//   src:url("/fonts/Lufga-600.ttf") format("truetype");
//   font-weight:600;
// }
// @font-face {
//   font-family:'Lufga';
//   src:url("/fonts/Lufga-700.ttf") format("truetype");
//   font-weight:700;
// }
// @font-face {
//   font-family:'Lufga';
//   src:url("/fonts/Lufga-800.ttf") format("truetype");
//   font-weight:800;
// }
// @font-face {
//   font-family:'Lufga';
//   src:url("/fonts/Lufga-900.ttf") format("truetype");
//   font-weight:900;
// }


/*===============Global================*/
html, body {
  font-family: "Lufga", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  letter-spacing:-.15px;
}

h1,h2,h3,h4,h5,h6,p,input,button,div,span,textarea {
  font-family: "Lufga", sans-serif;
  font-style: normal;
  letter-spacing:-.15px;
}

input:-webkit-autofill {
  transition: background-color 9999s ease-in-out 0s;
}

input:-moz-autofill {
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 9999s ease-in-out 0s;
}


/*===============Global Loader================*/
@keyframes wave {
  0%, 100% {
    transform: scaleY(0.4);
    opacity: 0.4;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.animate-wave {
  animation: wave 1s ease-in-out infinite;
}
