
.breadHome{
    @apply h-[30px] w-[30px] flex items-center justify-center text-white/80 hover:text-white dark:text-slate-700 dark:hover:text-slate-800 
   bg-slate-700 hover:bg-slate-800 dark:bg-white/80 dark:hover:bg-white rounded-[9px];
} 
.breadLast{
    @apply h-[30px] ps-8 pe-4 font-[500] text-[13px] flex items-center justify-center text-slate-800 dark:text-slate-300 bg-gradient-to-r from-white/30 
    to-white dark:from-slate-700/30 dark:to-slate-700 rounded-e-[9px];
}