
.cardBox{
    @apply relative h-[380px] !rounded-[17px] !border-0 overflow-hidden p-6 bg-white dark:bg-black/90;
    .boxButton{
        @apply relative -top-[10px] -right-[10px] h-12 w-12 rounded-[10px] bg-white/45 hover:bg-white/65 flex items-center justify-center;
    }
    .mainHead{
        @apply text-sm font-medium text-black/60 dark:text-white/70;
    }
    .headValue{
        @apply text-[29px] font-[500] text-slate-900 dark:text-white;
    }
    .totalSales{
        .recharts-wrapper{
            @apply relative !h-[400px];
        }
    }
}