
.cardBox{
    @apply relative h-[380px] !rounded-[26px] !border-0 overflow-hidden p-6 bg-white/45 dark:bg-white/5;
    .boxButton{
        @apply relative -top-[10px] -right-[10px] h-12 w-12 rounded-[16px] bg-white/80 hover:bg-white dark:bg-gray-700/50 dark:hover:bg-gray-700 flex items-center justify-center;
    }
    .mainHead{
        @apply text-sm font-medium text-gray-500 dark:text-white/70;
    }
    .headValue{
        @apply mt-1 text-[25px] font-[600] text-gray-700 dark:text-white;
    }
    .totalSales{
        .recharts-wrapper{
            @apply relative !h-[400px];
        }
    }
}

