
.menuBar-side{
    @apply h-screen w-[78px] bg-[#E4E2DE] text-slate-200 border-0 flex flex-col items-center py-6 dark:bg-slate-900;
    .navMenus{
        @apply relative flex h-14 w-14 items-center justify-center rounded-[7px] transition bg-white/60 hover:bg-white text-slate-500 hover:text-slate-950;
        span{
            @apply pointer-events-none absolute left-14 whitespace-nowrap rounded-md bg-slate-900 px-2 py-1 text-[14px] text-white opacity-0;
        }
        &.active{
            @apply text-white hover:text-white bg-slate-800 hover:bg-slate-900;
        }
        &:hover span{
            @apply opacity-100;
        }
        &.logoutMenu{
            @apply bg-red-300 text-red-700
        }
    }
}