
.menuBar-side{
    @apply sticky top-0 left-0 z-30 h-screen w-[78px] bg-[#e4eaf7] text-slate-200 border-0 flex flex-col items-center py-6 dark:bg-gray-900;
    .navMenus{
        @apply relative flex h-[48px] w-[48px] items-center justify-center rounded-[15px] transition bg-white hover:bg-white dark:bg-gray-800 
        dark:hover:bg-gray-800 text-gray-500 hover:text-gray-950 dark:text-gray-500 dark:hover:text-white;
        span{
            @apply pointer-events-none absolute left-14 whitespace-nowrap rounded-md px-2 py-1 text-[14px] text-gray-950 opacity-0;
        }
        &.active{
            @apply text-white hover:text-white bg-gray-800 hover:bg-gray-950 dark:bg-white dark:hover:bg-white dark:text-gray-950;
        }
        &:hover span{
            @apply opacity-100;
        }
        &.logoutMenu{
            @apply bg-red-300 text-red-700 hover:bg-red-600 hover:text-white dark:bg-red-500/20 dark:text-red-700 dark:hover:bg-red-600 dark:hover:text-white;
        }
    }
}
.searchBar{
    @apply bg-white hover:bg-white dark:bg-gray-800 !w-[300px] !h-[42px] border-none dark:border-slate-700 !rounded-[15px];
    .iconify{
        @apply text-gray-500 dark:text-gray-500 ms-2;
    }
    .searchInput{
        @apply w-full text-gray-950 !text-[13px] font-[500] !px-2 dark:text-white;
        &::placeholder{
            @apply flex !text-gray-400 dark:!text-gray-600;
        }
    }
}
.themeButton{
    @apply relative h-[42px] w-[84px] rounded-[14px] transition-colors duration-300 bg-white hover:bg-white dark:bg-gray-800;
    .buttonKit{
        @apply absolute top-[4px] left-[4px] h-[34px] w-[34px] rounded-[11px] bg-gray-800 dark:bg-white transition-transform duration-300;
    }
}
.remindButton{
    @apply relative h-[42px] w-[42px] rounded-[14px] bg-white hover:bg-white dark:bg-gray-800
          flex items-center justify-center text-gray-500 hover:text-slate-950 dark:text-gray-500 dark:hover:text-white;
    .notifyDot{
        @apply absolute top-2 right-2 h-2 w-2 rounded-full bg-red-500;
    }
    .messageDot{
        @apply absolute top-2 right-2 h-2 w-2 rounded-full bg-teal-600;
    }
}