

.sign-page{
    @apply min-h-screen w-full flex items-center justify-center px-4 overflow-hidden bg-gradient-to-b from-[#eeece9] to-[#FBE1D2] dark:from-slate-900 dark:to-slate-800;
    .btn-theme{
        @apply absolute top-5 right-5 p-[15px] rounded-[10px] bg-white/70 hover:bg-white dark:bg-slate-700/40 dark:hover:bg-slate-700/50 hover:scale-105 transition;
    }
    .sign-card{
        @apply p-8 relative z-10 w-full max-w-md rounded-[20px] border shadow-md backdrop-blur-[2px] bg-white/20 border-white/45 dark:bg-slate-700/15 dark:border-slate-500/5;
        .btn-social{
            @apply h-[40px] rounded-[7px] bg-white/80 border border-slate-200 hover:bg-white hover:border-slate-300 flex items-center justify-center
            dark:bg-slate-900 dark:border-slate-800 dark:hover:bg-slate-800 dark:hover:border-slate-700;
        }
    }
}